/* Facet styles */
.facet-label {
    font-weight: bold;
  }
  fieldset.facet {
    margin-bottom: 1em;
    background-color: rgba(175, 238, 238, 0.402);
    padding: .25em;
    /* rounded corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .facet-name {
    text-transform: capitalize;
  }

    /* Object styles */

    ul {
        list-style: none;
        width: 400px;
      }
      #faces li {
        display: inline-grid;
        margin: 3px;
      }
      #faces .card {
        width: 10rem;
      }
      #faces a {
       text-decoration: none;
      }
      #faces .card-body {
        background-color: darkgrey;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 90%;
        height: 5em;
      }

      /* other styles*/

      body {
        margin: 0 auto;
        width: 90%;
      }
      footer { 
        text-align:center;
        padding: 1em; 
    }

    /* slider formatting */
    .noUi-target {
      margin-top: 5em;
      margin-bottom: 3em;
      margin-left: 1.5em;
        width: 80%;
        height: 100%;
        position: relative;
        border-radius: 5px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }