<!DOCTYPE html>
<html lang="en">
<head>
    <title>Facet Demo: Colors and Numbers</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.8/ejs.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/colors.css">
    <script src="FacetFilter.js"></script>
    <script src="RenderFacets.js"></script>
    <script>
        $(document).ready(function() {
            const pageConf = {}
            const conf = {
                facetDivId: '#facets',
                contentDivId: '#objects',

                // url-based data source
                itemFormat: '<a href="https://cataas.com/cat"><li class="object <%= color %>"><%= label %></li></a>',
                dataAndSchemaFile: 'data/colors.json',
                pageConf
                // inline data source
            // itemFormat: '<a href="https://cataas.com/cat"><li class="object <%= color %>" style="background-color: <%= label %>; font-size: 12pt"><%= label %></li></a>',
            // data: [{label: 'FireBrick', color: 'red'}, {label: 'DodgerBlue', color: 'blue'}, {label: 'Crimson', color: 'red'},{label: 'Navy', color: 'blue'}, {label: 'ForestGreen', color: 'green'}, {label: 'LimeGreen', color: 'green'}],
            // schema: [{fieldName: 'color', fieldType: 'tag', sortable: true, filterable: true},{name: 'label', type: 'string'}]
            };
            facets(conf);
        });
    </script>
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Facet Filter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faces.html">Demo: Faces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="colors.html">Demo: Colors & Numbers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="unformatted.html">Demo: Unformatted</a>
                    </li>
                </ul>
    </nav>
    <h1>Facet Demo: Colors and Numbers</h1>
    <div class="row">
        <div id="facets" class="col-md-3 form">
        </div>
        <ul id="objects" class="col-md-9">
        </ul>
    </div>

<footer class="">
    Demo for: <a href="https://github.com/kenirwin/FacetFilter">FacetFilter</a>
</footer>

</body>
</html>