.facet-label {
    font-weight: bold;
  }
  ul {
    list-style: none;
    width: 400px;
  }
  li {
    height: 110px;
    width: 110px;
    font-size: 40pt;
    text-align: center;
    display: inline-grid;
    margin: 3px;
  }
  li.default {
    font-size: 10pt;
    text-align: left;
    border: 1px solid lightblue;
    margin: .25em;
    padding: .25em;
  }
  .blue {
    background-color: blue;
    color: white;
  }
  .green {
    background-color: darkgreen;
    color: white;
  }
  .red {
    background-color: red;
    color: white;
  }
  .orange {
    background-color: darkorange;
    color: white;
  }
  .purple {
    background-color: purple;
    color: white;
  }
  .yellow {
    background-color: goldenrod;
    color: white;
  }
  .checkbox-set {
    display: inline;
    margin-right: 10px;
  }
  label { margin-right: 2px}
  footer { margin: 1em;}
  