.facet-label {
    font-weight: bold;
  }
  fieldset.facet {
    margin-bottom: 1em;
    background-color: rgba(175, 238, 238, 0.402);
    padding: .25em;
    /* rounded corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .facet-name {
    text-transform: capitalize;
  }
  ul {
    list-style: none;
    width: 400px;
  }
  li.object {
    height: 110px;
    width: 110px;
    font-size: 40pt;
    text-align: center;
    display: inline-grid;
    margin: 3px;
  }
  li.default {
    font-size: 10pt;
    text-align: left;
    border: 1px solid lightblue;
    margin: .25em;
    padding: .25em;
  }
  .blue {
    background-color: blue;
    color: white;
  }
  .green {
    background-color: darkgreen;
    color: white;
  }
  .red {
    background-color: red;
    color: white;
  }
  .orange {
    background-color: darkorange;
    color: white;
  }
  .purple {
    background-color: purple;
    color: white;
  }
  .yellow {
    background-color: goldenrod;
    color: white;
  }
  label { margin-right: 2px}
  footer { margin: 1em;}
  